HTML {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: var( --font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0cbaba;
  background-image: linear-gradient(181deg, #0cbaba 0%, #380036e8 85%);
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

